<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head> 
		<meta charset="UTF-8">
		<tittle>Edição de Usuário</tittle>
		<link rel="icon" type="image/x-icon" href="./img/airplane.ico">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		</head>
		
		
		<body>
		
			<h1> EDITAR USUÁRIO</h1>
				<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
		
				
			<form  class="mt-5" th:action="@{/usuarios/editarUsuario/{id}(id=${idUsuario})}" th:object="${usuario}" method="post">
			<div class="form-group">
				<label for="id"> ID: </label>
				<input class="form-control" type="text" id="id" th:field="*{idUsuario} "th:readonly="readyonly"/>
			</div>
			<div>
				<label for="nome"> Nome: </label>
				<input class="form-control" type="text" id="nome" th:field="*{nome}"/>
			</div>
			
			<div>
				<label for="senha"> Senha: </label>
				<input class="form-control" type="text" id="senha" th:field="*{senha}"/>
			</div>
			<div>
				<label for="email"> Email: </label>
				<input class="form-control" type="text" id="email" th:field="*{email}"/>
			</div>
			<div>
				<label for="deficiencia"> Gênero: </label>
				<input class="form-control" type="text" id="genero" th:field="*{genero}"/>
			</div>
		
			<div class="d-flex justify-content-center">
				<button type="submit"> Salvar </button>
			</div>
			
		</form>
		</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
			
		
		</html>