<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head> 
		<meta charset="UTF-8">
		<tittle>Edição de Compra</tittle>
		<link rel="icon" type="image/x-icon" href="./img/airplane.ico">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		</head>
		
		
		<body>
		
			<h1> EDITAR COMPRA</h1>
				<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
		
				
			<form  class="mt-5" th:action="@{compras/editar/{idCompra}}" th:object="${compra}" method="post">
			<div class="form-group">
				<label for="id"> ID: </label>
				<input class="form-control" type="text" id="id" th:field="*{idCompra} "th:readonly="readyonly"/>
			</div>
			<div>
				<label for="nome"> Forma de pagamento: </label>
				<input class="form-control" type="text" id="formaPagamento" th:field="*{formaPagamento}"/>
			</div>
			
			<div>
				<label for="senha"> Data: </label>
				<input class="form-control" type="text" id="data" th:field="*{data}"/>
			</div>
			<div>
				<label for="email"> Valor total: </label>
				<input class="form-control" type="text" id="valorTotal" th:field="*{valorTotal}"/>
			</div>
			
		
			<div class="d-flex justify-content-center">
				<button type="submit"> Salvar </button>
			</div>
			
		</form>
		</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
			
		
		</html>